:root {

/* SIZE*/
--width-container-grid: 1007px;
--height-container-grid: 757px;


/* COLOR */
--background-important-card: rgba(217, 217, 217, 0.6);
--background-medium-card: rgba(217, 217, 217, 0.5);

--blur-card: blur(13px);


/* BORDER */
--border-radius: 23px;

--border-card-clickable: 2px solid rgba(28, 93, 120, 0.30);


/* MARGIN */
--margin-between-linknavbar: 32px;
--margin-between-bottom-linknavbar: 24px;

--margin-top-frame-navbar: 36px;
--margin-bottom-navbar-grid: 64px;

--margin-between-card: 16px;

--margin-bottom-grid-footertitle: 96px;
--margin-bottom-footertitle-link: 32px;
--margin-bottom-link-endframe: 64px;

}

/* TOTAL RESET */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://github.com/user-attachments/assets/52383e7b-cd63-4058-9464-bbc15e27508b");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    overflow-x: hidden;
}

button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.logo {
    border: none;
}


/* TOTAL CONTAINER */
.page-container {
    width: 1004px;
    height: 1121px;
    margin: 0 auto;
    position: relative;
}


/* HEADER */
.navbar-container {
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: var(--margin-top-frame-navbar);
    font-size: 12px;
}

.navbar-container .ul-list {
    margin: 0;
}

.navbar-logo {
    width: 33px;
    height: 20.31px;
}

.ul-list {
    display: flex;
    list-style: none;
    gap: var(--margin-between-linknavbar);
    margin: 0;
    padding: 0;
}

.ul-list a {
    color: #F6F6F6;
    font-weight: 200;
    letter-spacing: 1.1px;
}

.navbar-button {
    width: 151px;
    height: 32px;
    background: var(--background-important-card);
    border: var(--border-card-clickable);
    backdrop-filter: blur(13px);
    border-radius: var(--border-radius);
    color: #F6F6F6;
    letter-spacing: 0.5px;
}

/* BENTO GRIDS */

.bento-container {
    width: 1004px;
    height: 755px;
    position: relative;
}

.card {
    border-radius: var(--border-radius);
    background: var(--background-medium-card);
    z-index: 999;
    backdrop-filter: var(--blur-card);
    position: absolute;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    opacity: 0.45;
}

img {
    border: var(--border-card-clickable);
}

.hero-intro {
    width: 469px;
    height: 248px;
    top: 132px;
    left: 0;
    background: var(--background-important-card);
    font-weight: 300;
    color: #fff;
    letter-spacing: 1.1px;
    position: relative;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 300;
}

.hero-intro-first-text {
    top: 62px;
    left: 265px;
    font-size: 32px;
    margin-bottom: 14px;
    line-height: 2.5rem;
    position: absolute;
}

.hero-intro-second-text {
    top: 152px;
    left: 265px;
    font-size: 14px;
    line-height: 1.3rem;
    position: absolute;
}

.img-hero {
    width: 191px;
    height: 191px;
    top: 161.25px;
    left: 50px;
    z-index: 1000;
    object-fit: cover;
    position: absolute;
    border-radius: 23px;
    opacity: 0.85;
}

.banner-highlights {
    width: 519px;
    height: 43px;
    top: 132px;
    left: 485px;
    font-size: 12px;
    font-weight: 300;
    color: #fffffff5;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.4px;
}

.project-1 {
    width: 222px;
    height: 491px;
    top: 396px;
    left: 0;
    cursor: pointer;
}

.project-2 {
    width: 532px;
    height: 336px;
    top: 396px;
    left: 238px;
    cursor: pointer;
}

.project-3 {
    width: 285px;
    height: 189px;
    top: 191px;
    left: 485px;
    cursor: pointer;
}

.project-4 {
    width: 218px;
    height: 425px;
    top: 191px;
    left: 786px;
    cursor: pointer;
}

.status-learning {
    width: 218px;
    height: 100px;
    top: 632px;
    left: 786px;
    font-weight: 300;
    color: #fffffff5;
    letter-spacing: 1.1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-learning-first-text {
    font-size: 12px;
    margin-bottom: 4px;
}

.status-learning-second-text {
    font-size: 16px;
    line-height: 1.3rem;
}


.stats-dashboard {
    width: 418px;
    height: 139px;
    top: 748px;
    left: 238px;
}

.stats-item {
    width: 114px;
    height: 106.43px;
    top: 16px;
    opacity: 0.85;
    object-fit: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(105, 105, 105, 0.1);
    backdrop-filter: var(--blur-card);
}

.stats-item-1 {
    left: 18px;
    right: 286px;
}

.stats-item-2 {
    left: 152px;
    right: 152px;
}

.stats-item-3 {
    left: 286px;
    right: 18px;
}

.stats-item-text {
    position: absolute;
    color: #F6F6F6;
}

.stats-item-text-top {
    top: 15px;
    font-size: 24px;
    font-weight: 800;;
}

.stats-item-text-bottom {
    top: 56px;
    font-size: 10px;
    font-weight: 600;
}

.stats-item-2-text-1 {
    padding-right: 6px;
}


.credits-thanks {
    width: 332px;
    height: 139px;
    top: 748px;
    left: 672px;
    font-weight: 300;
    font-size: 32px;
    color: #ffffffea;
    letter-spacing: 1.1px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    padding-top: 16px;
    padding-right: 16px;
}


/* FOOTER */

.footer-phrase {
    position: absolute;
    top: 985px;
    left: 0;
    right: 0;
    font-weight: 300;
    font-size: 24px;
    color: #f6f6f6db;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.footer-phrase a {
    color: inherit;
    cursor: pointer;
}

.bottom-navbar-navigation-link {
    position: absolute;
    top: 1045px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-list-2 {
    display: flex;
    list-style: none;
    gap: var(--margin-between-bottom-linknavbar);
    margin: 0;
    padding: 0;
}

.ul-list-2 a {
    color: #F6F6F6;
    font-weight: 200;
    letter-spacing: 1.1px;
    font-size: 12px;
}


/* ANIMATION */

.project-1, .project-2, .project-3, .project-4, .img-hero, .navbar-button {
    transition: all 0.3s ease;
}

.project-1 img, .project-2 img, .project-3 img, .project-4 img {
    transition: all 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
    .img-hero:hover {
        transform: scale(1.05);
        z-index: 1001;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
        filter: brightness(1.2) contrast(1.1) saturate(1.3);
        opacity: 1;
    }

    .project-1:hover, .project-2:hover, .project-3:hover, .project-4:hover , .navbar-button:hover {
        transform: scale(1.05);
        z-index: 1001;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    }

    .project-1:hover img, .project-2:hover img, .project-3:hover img, .project-4:hover img, .navbar-button:hover{
        filter: brightness(1.2) contrast(1.1) saturate(1.3);
        opacity: 1;
    }
}

.project-1:active, .project-2:active, .project-3:active, .project-4:active , .img-hero:active, .navbar-button:active {
    transform: scale(0.95);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.rotate-message {
  display: none;
}

@media (hover: none) and (pointer: coarse) {
    .card img {
    opacity: 0.6;
    }
}


@media (max-width: 600px) {
  .rotate-message {
    position: fixed !important;
    inset: 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url("https://github.com/user-attachments/assets/52383e7b-cd63-4058-9464-bbc15e27508b");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .rotate-card {
    min-width: (380px, 95vw);
    max-height: 300px;
    background: var(--background-important-card);
    backdrop-filter: var(--blur-card);
    border-radius: var(--border-radius);
    border: var(--border-card-clickable);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F6F6F6;
    font-weight: 400;
    letter-spacing: 1.1px;
    line-height: 1.4;
    font-size: 32px;
  }
  .emoji {
    font-size: 64px;
  }
}


/* Galaxy S21... */
@media (orientation: landscape) and (min-height: 320px) and (max-height: 390px) and (min-width: 780px) and (max-width: 849px)  {
  .page-container {
    zoom: 0.7;
  }
}

/* Smartphone foldable */
@media (orientation: landscape) and (min-height: 320px) and (max-height: 390px) and (min-width: 850px) and (max-width: 900px)  {
  .page-container {
    zoom: 0.8;
  }
}

/* Smartphone piccoli: Lumia, iPhone 6... */
@media (orientation: landscape) and (min-height: 320px) and (max-height: 390px) and (min-width: 600px) and (max-width: 700px)  {
  .page-container {
    zoom: 0.6;
  }
}

/* iPhone standard */
@media (orientation: landscape) and (min-height: 381px) and (max-height: 430px) {
  .page-container {
    zoom: 0.75; 
  }
}

/* IPHONE PLUS/PRO MAX */  
@media (orientation: landscape) and (min-height: 431px) and (max-height: 480px) {
  .page-container {
    zoom: 0.7;
  }
}

/* Android grandi */
@media (orientation: landscape) and (min-height: 481px) and (max-height: 540px) {
  .page-container {
    zoom: 0.7;
  }
}

/* iPad */
@media (orientation: landscape) and (min-height: 601px) and (max-height: 800px) {
  .page-container {
    zoom: 0.9; 
  }
}

/* iPad mini */
@media (orientation: landscape) and (min-height: 541px) and (max-height: 600px) {
  .page-container {
    zoom: 0.7;
  }
}

/* Desktop */
@media (orientation: landscape) and (min-height: 801px) {
  .page-container {
    zoom: 1; 
  }
}
